$ ->
  saveGalleryCellWidth = (gallery_attrib_id, cell_width_val) ->
    $.post "/gallery_attribs/"+gallery_attrib_id,
      { _method: 'PUT', gallery_attrib: {cell_width: cell_width_val} }
      (data) ->
        console.log("[gallery_lightbox.js] saveGalleryCellWidth")
      'json'
      
  saveGalleryCellHeight = (gallery_attrib_id, cell_height_val) ->
    $.post "/gallery_attribs/"+gallery_attrib_id,
      { _method: 'PUT', gallery_attrib: {cell_height: cell_height_val} }
      (data) ->
        console.log("[gallery_lightbox.js] saveGalleryCellHeight")
      'json'


  makeMultiUpload = (element) ->     
    #// Initialize the jQuery File Upload widget:
    $(element).fileupload
      maxFileSize: 3000000
      sequentialUploads: true
      acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i 
    .bind 'fileuploadstop', ->
      #//$('.sort.subPanelButton.ss').trigger('click');
      window.location.reload()
    .bind 'fileuploadprogressall', ->
      if $('.fileupload-content').height() > 500
        $('.PanelHor').css
          height: 547
          overflow: 'scroll-y'
      else
        $('.PanelHor').css
          height: $('.fileupload-content').height() + 60,
          #//width: $('.fileupload-content').width()
  
      #//window.location.reload();
      
    #// Load existing files:
    $.getJSON $(element).find('form').prop('action'), (files) -> 
      fu = $(element).data('fileupload')
      fu._adjustMaxNumberOfFiles(-files.length)
      fu._renderDownload(files)
        .appendTo($(element).find('.files'))
        .fadeIn ->
          #// Fix for IE7 and lower:
          $(this).show()
  
    #// Open download dialogs via iframes,
    #// to prevent aborting current uploads:
    $(element).find('.files a:not([target^=_blank])').live 'click', (e) ->
        e.preventDefault()
        $('<iframe style="display:none;"></iframe>')
            .prop('src', this.href)
            .appendTo('body')
  
  $settings_gallery_div = $ '
    <div class="gallery_settings_div" id="settings_div_id" style="position:relative; left: 0; top: 0; padding: 10px; width: 100%;">
      <form name="settings" onsubmit="return false" method="post" class="settings_form">
        <p>
          <label>Cell Width</label>
          <div class="slider slider-cellWidth"></div>      
          <input type="number" name="cellWidth" class="textinput cellWidth" value=""  />
        </p>
        <p>
          <label>Cell Height</label>
          <div class="slider slider-cellHeight"></div>      
          <input type="number" name="cellHeight" class="textinput cellHeight" value=""  />
        </p>
      </form>
    </div>
  '
  
  $div_gallery_lightbox_multi_upload = $ '
    <div id="fileupload" class="ui-widget">
      <form accept-charset="UTF-8" action="/slideshow_images" class="new_slideshow_image" enctype="multipart/form-data" id="new_slideshow_image" method="post">
        <div class="fileupload-buttonbar ui-widget-header ui-corner-top">
          <label class="fileinput-button ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary" role="button" aria-disabled="false">
            <span class="ui-button-icon-primary ui-icon ui-icon-plusthick"></span>
            <span class="ui-button-text">
              <span>Five megabytes png/gif/jpg...</span>            
            </span>
            <input id="slideshow_image_image" name="slideshow_image[image]" type="file">
          </label>
          <input id="slideshow_image_element_id" name="slideshow_image[element_id]" type="hidden" >
        </div>
      </form>
      <div class="fileupload-content ui-widget-content ui-corner-bottom">
        <table class="files"><tbody></tbody></table>
        <div class="fileupload-progressbar ui-progressbar ui-widget ui-widget-content ui-corner-all" style="display: none; " role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
          <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="display: none; width: 0%; "></div>
        </div>
      </div>
    </div>
      '

  $dialog_div_gallery_lightbox = $ '
      <div id="dialog_gallery_lightbox" title="Gallery Settings">
        <div class="gallery_lightboxPanelHorNav PanelHorNav" style="overflow:hidden;display:block;">
          <div href="#" class="upload subPanelButton gallery_lightbox">Upload</div>
          <div href="#" class="gallery_lightbox_sort subPanelButton gallery_lightbox" style="width:100px">Sort</div>
          <div href="#" class="gallery_lightbox_settings subPanelButton gallery_lightbox" style="width:70px">Settings</div>
        </div>
        <div class="gallery_lightboxPanelHor PanelHor" style="position:relative;">
          <div class="gallery_lightboxPanel" style="width: 100%;">
            loading . . .
          </div>
          <div class="gallery_lightboxSortPanel">
            loading . . .
          </div>
          <div class="gallery_lightboxSettingsPanel">
            loading . . .
          </div>
        </div>
      </div>
    '  
  $('.gallery_lightboxPanel', $dialog_div_gallery_lightbox).html($div_gallery_lightbox_multi_upload)
  $('.gallery_lightboxSettingsPanel', $dialog_div_gallery_lightbox).html($settings_gallery_div)
  
  
  page_id_val = $('#add_elem_gridgal').data('pageid')
  $('#add_elem_grid_lightbox').bind 'click', ->
    element_id_val = null
    $.post "/elements", 
      { _method:'POST', element : {page_id: page_id_val, elem_type: 'gallery_lightbox'} }
      (data)->
        element_id_val = data.element.id
        console.log "[gallery_lightbox.js] created element type/block gallery_lightbox"      
        $.post "/element_styles",
          { _method:'POST', element_style : {element_id: data.element.id, width: 370, height: 250} }
          (data)->
            console.log "[gallery_lightbox.js] created element_styles for gallery_lightbox"            
            $.post "/gallery_attribs",
              { _method: 'POST', gallery_attrib : {element_id: element_id_val, cell_width: 100, cell_height: 100} }
              (data)->
                console.log "[gallery_lightbox.js] created gallery_attrib for gallery_lightbox"
                #add component here
              'json'            
          'json'          
      'json'
      
  $('.element.gallery_lightbox').live 'dblclick', ->
    $cur_elem = $(this)
    
    $cur_elem.append($dialog_div_gallery_lightbox)
    $dialog_div_gallery_lightbox.dialog
      autoOpen: false
      width: 526
      zIndex: 13000
      drag: (event, ui)->
        $dialog_div_gallery_lightbox.css
          'zIndex': 100005
      close: (event, ui)->
        $dialog_div_gallery_lightbox.remove()
        
    element = $('#fileupload', $dialog_div_gallery_lightbox)
    makeMultiUpload(element)
      
    console.log('assign correct id to post'+$(this).data('elementid'))
    $('#slideshow_image_element_id', $dialog_div_gallery_lightbox).val( $(this).data('elementid') )
    
    $dialog_div_gallery_lightbox.dialog('open')
    
    onAftergallery_lightboxPanelHor = (curr, next, opts, fwd)->
      $current_panel = $(this)
      $current_panel.parents('.gallery_lightboxPanelHor').animate
        height: $current_panel.height()
    
    $('.gallery_lightboxPanelHor', $dialog_div_gallery_lightbox).cycle
      fx: 'scrollHorz'
      timeout: 0
      fit: true
      speed: 'fast'
      after: onAftergallery_lightboxPanelHor
      
    $('.upload.gallery_lightbox', $dialog_div_gallery_lightbox).click ->
      $('.gallery_lightboxPanelHor', $dialog_div_gallery_lightbox).cycle(0)
      return false
    $('.gallery_lightbox_sort.gallery_lightbox', $dialog_div_gallery_lightbox).click ->
      $('.gallery_lightboxPanelHor', $dialog_div_gallery_lightbox).cycle(1)
      return false
    $('.gallery_lightbox_settings.gallery_lightbox', $dialog_div_gallery_lightbox).click ->
      $('.gallery_lightboxPanelHor', $dialog_div_gallery_lightbox).cycle(2)
      return false
      
    $('.textinput.cellWidth').bind 'change', ->
      #$('.thumbHolder, .thumb_hidden').css
      #  width: $(this).val()
      
      $cell_width = $(this).val()
      
      gallery_attrib_id = $cur_elem.data('gallerygridattrid')
      cell_width_val = $cell_width      
      saveGalleryCellWidth(gallery_attrib_id, cell_width_val)
      
      #$('.thumbHolder').each (index, element) ->
      #  $left_pos = parseInt(index)*parseInt($cell_width)
      #  margin = 15
      #  left_pos_width_margin = $left_pos+margin
      #  console.log '$left_pos: '+$left_pos
      #  console.log 'left_pos_width_margin: '+left_pos_width_margin
      #  $(element).css
      #    left: left_pos_width_margin
          
        
    $('.textinput.cellHeight').bind 'change', ->
      #$('.thumbHolder, .thumb_hidden').css
      #  height: $(this).val()
        
      $cell_height = $(this).val()
      
      gallery_attrib_id = $cur_elem.data('gallerygridattrid')
      cell_height_val = $cell_height        
      saveGalleryCellHeight(gallery_attrib_id, cell_height_val)
    
    